body {
    background-color: #e4f4ff;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #293484;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

tbody tr:hover  {
    background-color:#dee4f0!important;
}
thead a:hover, thead a:visited, thead a:link, thead a:active
{
    text-decoration: none;
    color: white;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
